<script>
  import PageHeader from './_pageHeader.svelte';
</script>

<PageHeader pageTitle="Home">
  <h1 class="bold">Home</h1>
</PageHeader>

<div class="my-2" />

# heading1

## heading2

### heading3

>code
```bash
  <PageHeader pageTitle="Home">
    <h1 class="bold">Home</h1>
  </PageHeader>
```
